<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Game Night Democratic Voting Simulator</title>
	<!-- The next line is to prevent a FOUC -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/table_test_style.css">
</head>

<body onload="votingEnable()">

<div id="usernameCont">
<div><span class="labelUser">Username</span></div>
{% if username %}
	<span class="userName" id="username">{{ username }}</span>
{% else %}
	<form name="loginForm" method="get" onsubmit="return validateUsername()">
		<input class="userName" type="text" placeholder="Enter Username" name="username" required>
		<button class="invisible" type="submit" name="applyName" value="applyNameClicked"></button>
	</form>
{% endif %}
</div>

<br>
<br>
<br>
<br>
<br>

<div id="candidates">
	<span class="labelRank">Rank</span><span class="labelGame">Game</span>
	{% for item in candidates %}
		<div class="rowNoDrag" draggable="{{ draggable }}">
			<span class="rank">{{ item[0] }}</span><span class="name">{{ item[1] }}</span>
		</div>
	{% endfor %}
	<!-- TODO: Add and implement a button for adding new rows. -->
</div>

<br>
<br>
<br>

<div id="period">
<span class="voteMsg">Voting Ends In {{ days }} Days, {{ hours }} Hours, {{ minutes }} Minutes</span>
</div>

<script src="/scripts/table_test_script.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/table_test_style.css">

</body>

</html>