.gameNameInput {
  position: relative;
  left: 45px;
  top: 7px;
}
.winnerLabel {
  position: absolute;
  text-align: center;
  width: 400px;
  font-size: 120%;
  left: 35px;
  color: #000;
}
.winnerMsg {
  position: absolute;
  text-align: left;
  width: 400px;
  font-size: 120%;
  color: #000;
  left: 190px;
}
.invisible {
  background: transparent;
  border: none !important;
  font-size: 0;  
}
.voteMsg {
  position: absolute;
  text-align: center;
  width: 400px;
  font-size: 120%;
  color: #900;
  left: 35px;
}
.labelUser {
  font-size: 60%;
  color: #999;
  position: relative;
  left: 202px;
}
.labelRank {
  position: relative;
  left: 15px;
  font-size: 60%;
  color: #999;
}
.labelGame {
  position: relative;
  left: 200px;
  font-size: 60%;
  color: #999;
}
.userName {
  font-size: 150%;
  text-align: center;
  position: absolute;
  left: 80px;
  width: 300px;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
}
.testbutton {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0px;
  height: 22px;
  width: 22px;
}
.rank {
  color: #666;
  position: relative;
  left: 20px;
  top: 8px;
  font-size: 100%;
}
.name {
	color: #000;
	position: relative;
	left: 50px;
	top: 10px;
  font-size: 120%;
}
.rowAdd {
  height: 40px;
  width: 450px;
  border: 2px solid #aaaaaa;
  margin-top: 2px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}
.row {
  height: 40px;
  width: 450px;
  border: 2px solid #aaaaaa;
  margin-top: 2px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  cursor: move;
}
.rowNoDrag {
  height: 40px;
  width: 450px;
  border: 2px solid #aaaaaa;
  background-color: #aaaaaa;
  margin-top: 2px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable=false] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
[draggable=true] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.row header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
  background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -ms-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}